<div class="areaSearch">
	<div class="areaSearchInner">
		<h2 class="contents_title">practice</h2>
		<ul class="item_list horizontal_list">
			<li class="arrowGray"><a href="">practice</a></li>
			<li class="arrowGray"><a href="">practice</a></li>
			<li class="arrowGray"><a href="">practice</a></li>
			<li><a href="">practice</a></li>
		</ul>
	</div>
</div>
