<div class="selectPrefectures">
	<h2 class="contents_title">practice</h2>
	<ul class="table_list">
		<li>
			<p><a href="" class="relative js-slide-arrow second slideOpenWindow">practice</a></p>
			<div class="js-slide-inn _on">
				<ul class="paragraph_list horizontal_list item_list">
					<li>
						<a href="" class="relative js-slide-arrow second slideOpenWindow">practice</a>
						<ul class="js-slide-inn _on">
							<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="relative js-slide-arrow second">practice</a>
						<ul class="js-slide-inn _off">
							<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="relative js-slide-arrow second">practice</a>
						<ul class="js-slide-inn _off">
							<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="relative js-slide-arrow second">practice</a>
						<ul class="js-slide-inn _off">
							<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
						</ul>
					</li>
					<li>
						<a href="" class="relative js-slide-arrow second">practice</a>
						<ul class="js-slide-inn _off">
							<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
							<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
