<div class="planSearch">
	<div class="planSearchInner">
		<h2 class="contents_title border-top">practice</h2>
		<ul class="item_list horizontal_list">
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/" class="wh50"></div>
						<div class="listContentsCell">
							<p>practice</p>
							<span>practice</span>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/" class="wh50"></div>
						<div class="listContentsCell">
							<p>practice</p>
							<span>practice</span>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/" class="wh50"></div>
						<div class="listContentsCell">
							<p>practice</p>
							<span>practice</span>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
