<div class="recommendSearch">
	<div class="recommendSearchInner">
		<h2 class="contents_title border-top border-bottom">practice</h2>
		<ul>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/ranking_img.png"></div>
						<div class="listContentsCell">
							<p>practice</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/"></div>
						<div class="listContentsCell">
							<p>practice</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/"></div>
						<div class="listContentsCell">
							<p>practice</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/"></div>
						<div class="listContentsCell">
							<p>practice</p>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
