<div class="selectPrefectures">
	<div class="searchInfo">
		<div class="searchInfoInner">
			<p>practice</p>
			<div class="searchInfoArea">practice</div>
		</div>
	</div>
	<h2 class="contents_title">$practice$</h2>
	<ul class="horizontal_list item_list border-bottom">
		<li class="arrowGray"><a href="">practice</a></li>
		<li class="arrowGray"><a href="">practice</a></li>
		<li class="arrowGray"><a href="">practice</a></li>
		<li class="arrowGray"><a href="">practice</a></li>
		<li class="arrowGray"><a href="">practice</a></li>
		<li class="arrowGray"><a href="">practice</a></li>
		<li class="arrowGray"><a href="">practice</a></li>
	</ul>
</div>
