<div class="selectPrefectures">
	<div class="searchInfo">
		<div class="searchInfoInner">
			<p>practice</p>
			<div class="searchInfoArea">$practice$</div>
		</div>
	</div>
	<h2 class="contents_title">practice</h2>
	<div class="js-slide-inn _on">
		<ul class="paragraph_list horizontal_list item_list border-bottom">
			<li>
				<a href="" class="relative js-slide-arrow second slideOpenWindow">practice</a>
				<ul class="js-slide-inn _on">
					<li class="border-top"><span class="third">practice</span></li>
					<li class="arrowGray bgGray"><a href="" class="last">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="last">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
				</ul>
			</li>
			<li>
				<a href="" class="relative js-slide-arrow second">practice</a>
				<ul class="js-slide-inn _off">
					<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
				</ul>
			</li>
			<li>
				<a href="" class="relative js-slide-arrow second">practice</a>
				<ul class="js-slide-inn _off">
					<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
				</ul>
			</li>
			<li>
				<a href="" class="relative js-slide-arrow second">practice</a>
				<ul class="js-slide-inn _off">
					<li class="border-top"><span class="third">practice</span></li>
					<li class="arrowGray bgGray"><a href="" class="last">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="last">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
				</ul>
			</li>
			<li>
				<a href="" class="relative js-slide-arrow second">practice</a>
				<ul class="js-slide-inn _off">
					<li class="arrowGray bgGray border-top"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
					<li class="arrowGray bgGray"><a href="" class="third">practice</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
