<div class="areaElements selectPrefectures" id="pageTop change_01" data-url="change_01" data-role="page">
	{{> top_header}}
	<div class="contents_title_type2 settingRel"><p>practice</p><a class="closed" href="">practice</a></div>
	<div class="selectList">
		<section>
			<h2 class="contents_title">practice</h2>
			<div class="change_list_inner border-top">
				<ul class="vertical_list">
					<li>
						<div role="main" class="ui-content">
							<form action="" method="post">
								<div class="ui-field-contain">
									<select name="season" id="reservation-1">
										<option>practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
									</select>
								</div>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<h2 class="contents_title border-top">practice</h2>
			<ul class="selectListElem item_list paragraph_list horizontal_list">
				<li class="arrowGray first"><a href="#change_02"><span>practice</span></a></li>
				<li class="arrowGray second"><a href="#change_02"><span>practice</span></a></li>
				<li class="arrowGray third"><a href="#change_02"><span>practice</span></a></li>
				<li class="arrowGray last"><a href="#change_02"><span>practice</span></a></li>
				<li class="second"><a href="#change_02" data-link="#change_02" class="ancer detailElem plus">practice</a></li>
			</ul>
		</section>
		<section>
			<h2 class="contents_title border-top">practice</h2>
			<ul class="item_list paragraph_list horizontal_list">
				<li class="arrowGray"><a href="#change_03" data-link="#change_03" class="ancer">practice</a></li>
				<li class="arrowGray second"><a href="#change_03" data-link="#change_03" class="ancer">practice</a></li>
			</ul>
		</section>
		<section>
			<h2 class="contents_title border-top">practice</h2>
			<div class="change_list_inner border-top">
				<ul class="vertical_list">
					<li>
						<div role="main" class="ui-content">
							<form action="" method="post">
								<div class="ui-field-contain">
									<select name="yosan" id="reservation-2">
										<option>practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
										<option value="practice">practice</option>
									</select>
								</div>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section>
			<h2 class="contents_title border-top">practice</h2>
			<ul class="item_list checkOn js-check border-bottom">
				<li><a href="" class="on">practice</a></li>
				<li><span>practice</span></li>
				<li><a href="">practice</a></li>
				<li><a href="">practice</a></li>
				<li><a href="">practice</a></li>
			</ul>
		</section>
	</div>
	<div class="fixedSubmit">
		<div class="fixedSubmitTable">
			<div><a href=""><span>practice</span></a></div>
		</div>
	</div>
	{{> footer}}
</div>

<div class="areaElements" id="pageTop change_02" data-url="change_02" data-role="page">
	<div class="selectPrefectures">
		<div class="contents_title_type2 settingRel"><p>practice</p><a class="back" href="#change_01">戻る</a></div>
		<h2 class="contents_title">$practice$</h2>
		<div class="SearchInner">
			<div class="SearchElem">
				<ul class="item_list horizontal_list">
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
					<li><a href="#change_01">practice</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="areaElements" id="pageTop change_03" data-url="change_03" data-role="page">
	<div class="selectPrefectures">
		<div class="contents_title_type2 settingRel">
			<p>practice</p><a class="back" href="#change_01">戻る</a>
		</div>
		<div class="SearchInner">
			<div class="SearchElem">
				<h2 class="contents_title border-top">practice</h2>
				<ul class="item_list add_arrow mb10 border-bottom"><li><a href="#change_01">practice</a></li></ul>
				<ul class="item_list horizontal_list border-bottom">
					<li class="arrowGray"><a href="#change_01">practice</a></li>
					<li class="arrowGray"><a href="#change_01">practice</a></li>
					<li class="arrowGray"><a href="#change_01">practice</a></li>
					<li class="arrowGray"><a href="#change_01">practice</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
