<div class="selectPrefectures">

	<div class="searchInfo">
		<div class="searchInfoInner">
			<p>practice</p>
			<div class="searchInfoArea">practice</div>
		</div>
	</div>

	<h2 class="contents_title">practice</h2>
	<ul class="table_list">
		<li>
			<p><a href="" class="relative js-slide-arrow slideOpenWindow">practice</a></p>
			<div class="js-slide-inn">
				<ul class="horizontal_list item_list border-top">
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
					<li class="arrowGray bgGray second"><a href="">practice</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>
