<div class="cessetteNav">
	<div class="cessetteNavInner">
		<div class="pageNav">
			<ul>
				<li><a href=""><img src="img/arrow_prev_on.gif" width="7"></a></li>
				<li><a href="" class="on">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><a href=""><img src="img/arrow_next_on.gif" width="7"></a></li>
			</ul>
		</div>
		<div class="pageNav">
			<ul>
				<li><span><img src="img/arrow_prev_off.gif" width="7"></span></li>
				<li><a href="" class="on">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li><span><img src="img/arrow_next_off.gif" width="7"></span></li>
			</ul>
		</div>
	</div>
</div>
