<div class="searchStatus js-scroll-height">
	<div class="searchStatusInner js-scroll-fixed">
		<div>
			<span>
				<div class="cellInner">
					<div class="icon_area">自由が丘・三軒茶屋・二子玉川</div>
				</div>
			</span>
			<span>
				<div class="cellInner">
					<a href="">条件変更</a>
				</div>
			</span>
		</div>
		<div class="searchStatusSelect">
			<ul>
				<li>
					<p><a href="" class="icon_scene relative js-slide-arrow">すべてのシーン</a></p>
					<div class="js-slide-inn" style="display:none;">
						<div class="condition_select"><!-- .condition_select -->
							<div class="condition_select_inner">
								<div class="narrow_list js-narrow-elem js-transmission">
									<ul>
										<li>
											<div class="squea_button">
												<a href="" class="button_detail check_img01 check_on">すべてのシーン</a>
											</div>
										</li>
										<li>
											<div class="squea_button">
												<a href="" class="button_detail check_img02">ビアガーデン・ビアテラス</a>
											</div>
										</li>
										<li>
											<div class="squea_button">
												<a href="" class="button_detail check_img03">ビアホール・ビアバー・ビアパブ</a>
											</div>
										</li>
										<li>
											<div class="squea_button">
												<a href="" class="button_detail check_img04">クラフトビール 世界のビール</a>
											</div>
										</li>
										<li>
											<div class="squea_button">
												<a href="" class="button_detail check_img05">ビール飲み放題コースあり</a>
											</div>
										</li>
										<li>
											<div class="squea_button">
												<span class="button_detail check_img06 check_off">キリッと冷えた美味しいビール！</span>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div><!-- /.condition_select -->
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
