	<section class="search_cassete"><!-- .search_cassete -->
		<div class="search_title">有楽町駅の夜景を楽しみながらプレミアムなビールで乾杯しませんか？エビスが飲み放題！</div>
		<div class="search_cassete_inner">
			<a href="" class="cassete_info_box">
				<div class="cassete_info_box_inner">
					<div class="left_box">
						<div class="photo"><div class="image_box"><img src="img/s_dummy01.jpg" width="100"></div></div>
						<div class="reservation">ネット予約可</div>
					</div>
					<div class="right_box box-arrow-horizontal">
						<p class="cassete_title">本格フレンチダイニング GURUNAVI -- 銀座 長文参考用サンプル(上位枠）</p>
						<p class="ac_text">[記念日 貸切 パーティ]<br>地下鉄銀座駅C1・C2・C3<br>出口徒歩5分</p>
						<ul class="shop_info">
							<li class="icon_money"><span>2.350円</span></li>
							<li class="icon_peple"><span>120席</span></li>
							<li class="icon_night_01"><span>個別空席あり</span></li>
						</ul>
						<ul class="shop_point">
							<li><img src="img/icon_save.gif" height="15"></li>
							<li><img src="img/icon_point.gif" height="15"></li>
						</ul>
					</div>
				</div>
				<p class="int_text">東京駅(丸の内南口)3分/有楽町駅3分東京駅地下通路11番出口直結、味わい豊かなベルギービー…</p>
			</a>
		</div>
	</section><!-- /.search_cassete -->

	<section class="search_cassete"><!-- .search_cassete -->
		<div class="search_cassete_inner">
			<a href="" class="cassete_info_box">
				<div class="cassete_info_box_inner">
					<div class="left_box">
						<div class="photo"><div class="image_box"><img src="img/s_dummy02.jpg" width="100"></div></div>
						<div class="reservation">ネット予約可</div>
					</div>
					<div class="right_box box-arrow-horizontal">
						<p class="cassete_title">本格フレンチダイニング GURUNAVI -- 銀座店 (上位枠）</p>
						<p class="ac_text">［記念日 貸切 パーティ］<br>地下鉄銀座駅C1・C2・C3<br>出口 徒歩5分</p>
						<ul class="shop_info">
							<li class="icon_money"><span>2.350円</span></li>
							<li class="icon_peple"><span>120席</span></li>
							<li class="icon_night_02"><span>残りわずか</span></li>
						</ul>
						<ul class="shop_point">
							<li><img src="img/icon_save_off.gif" height="15"></li>
							<li><img src="img/icon_point.gif" height="15"></li>
						</ul>
					</div>
				</div>
				<p class="int_text">東京駅(丸の内南口)3分/有楽町駅3分東京駅地下通路11番出口直結、味わい豊かなベルギービー…</p>
			</a>
		</div>
	</section><!-- /.search_cassete -->

	<section class="search_cassete"><!-- .search_cassete -->
		<div class="search_cassete_inner">
			<a href="" class="cassete_info_box">
				<div class="cassete_info_box_inner">
					<div class="left_box">
						<div class="photo"><div class="image_box"><img src="img/s_dummy03.jpg" width="80"></div></div>
						<div class="reservation">ネット予約可</div>
					</div>
					<div class="right_box box-arrow-horizontal">
						<p class="cassete_title">本格フレンチダイニング GURUNAVI -- 銀座有楽町店 (プラス枠)</p>
						<p class="ac_text">［記念日 貸切 パーティ］<br>地下鉄銀座駅C1・C2・C3<br>出口 徒歩5分</p>
						<ul class="shop_info">
							<li class="icon_money"><span>2.350円</span></li>
							<li class="icon_peple"><span>120席</span></li>
							<li class="icon_night_01"><span>個別空席あり</span></li>
						</ul>
						<ul class="shop_point">
							<li><img src="img/icon_save.gif" height="15"></li>
							<li><img src="img/icon_save_ban.gif" height="15"></li>
						</ul>
					</div>
				</div>
			</a>
		</div>
	</section><!-- /.search_cassete -->
