<div class="searchCondition">
	<div class="searchConditionInner">
		<h2 class="contents_title underline_b">検索中の条件</h2>
		<div class="searchConditionSubmit">
			<ul>
				<li>
					<span><p>エリア</p></span>
					<span>自由が丘・三軒茶屋・二子玉川</span>
				</li>
			</ul>
			<div class="squeaBtn">
				<a href="" class="btnBlue">
					<span>条件を変更</span>
				</a>
			</div>
		</div>
	</div>
</div>
