<footer class="footer{{#if isSettingRel}} settingRel{{/if}}">
	<div class="footerInner">
		<span><a href="http://mobile.practice.co.jp/iphone/"><img src="img/.png" alt="" width="62.5px" height="17.5px"></a></span>
		<small>practice</small>
	</div>
	<div class="pc"><a href="http://r.practice.co.jp/sp/enkai/">PC版</a></div>
</footer>
