<header class="mainVisual">
	<h1>
		<span class="animated bounce">&nbsp;</span>
		<img src="img/mv_title.png" alt="">
	</h1>
	<div class="location_block">{{mainVisualTitle}}</div>
	<span><img src="img/read1.png" alt="この一杯のために生きている！"></span>
	<span><img src="img/read2.png" alt="美味しいビールが飲めるこだわりのお店を一挙ご紹介！"></span>
</header>
