<div class="planSearch">
	<div class="planSearchInner">
		<h2 class="contents_title border-top">もっとビールを楽しむコース・プラン</h2>
		<ul class="item_list horizontal_list">
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/list_img_1.png" class="wh80"></div>
						<div class="listContentsCell">
							<p class="blue">プラン見出し最大１８文字テキストテキ</p>
							<span>webマガジンリード文テキストテキストテ最大３０文字</span>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/list_img_2.png" class="wh80"></div>
						<div class="listContentsCell">
							<p class="blue">プラン見出し最大１８文字テキストテキ</p>
							<span>webマガジンリード文テキストテキストテ最大３０文字</span>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="towColumn_ContentsList">
					<a href="">
						<div class="listContentsCell"><img src="img/list_img_3.png" class="wh80"></div>
						<div class="listContentsCell">
							<p class="blue">プラン見出し最大１８文字テキストテキ</p>
							<span>webマガジンリード文テキストテキストテ最大３０文字</span>
						</div>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
