<div class="purposeSearch">
	<h2 class="contents_title">{{PurposeSearchContentsTitle}}</h2>
	{{#if isPurposeSearchContentsBtn}}
	<ul>
		<li><a href=""><img src="img/btn_bnr_1.jpg" alt="ビアガーデン・ビアホール"></a></li>
		<li><a href=""><img src="img/btn_bnr_4.jpg" alt="クラフトビール・世界のビール"></a></li>
		<li><a href=""><img src="img/btn_bnr_5.jpg" alt="ビール飲み放題コースあり"></a></li>
		<li><a href=""><img src="img/btn_bnr_6.jpg" alt="キリッと冷えた美味しいビール！"></a></li>
	</ul>
	{{/if}}
	{{#if isPurposeSearchContentsBtnFull}}
	<ul>
		<li><a href=""><img src="img/btn_bnr_1.jpg" alt="ビアガーデン・ビアホール"></a></li>
		<li><a href=""><img src="img/btn_bnr_2.jpg" alt="ビアガーデン・ビアテラス"></a></li>
		<li><a href=""><img src="img/btn_bnr_3.jpg" alt="ビアホール・ビアバー・ビアパブ"></a></li>
		<li><a href=""><img src="img/btn_bnr_4.jpg" alt="クラフトビール・世界のビール"></a></li>
		<li><a href=""><img src="img/btn_bnr_5.jpg" alt="ビール飲み放題コースあり"></a></li>
		<li><a href=""><img src="img/btn_bnr_6.jpg" alt="キリッと冷えた美味しいビール！"></a></li>
	</ul>
	{{/if}}
</div>
